$black: #232536;
$purple: #592ea9;
$yellow: #ffd050;
$silverGray: #F0F0F1;
$darkGray: #4c4c4c;
$mediumGray: #6d6e76;
$lightGray: #f4f4f4;
$lavendar: #f4f0f8;
$lightYellow: #fbf6ea;
$white: #ffffff;
$darkYellow: #EDC14A;
$mediumSilver: #D3D3D6;
